src/main/resources/xsd/business/RPOInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.russianpost.ru/domain/rpo-info/2014/09"
            xmlns:common="http://www.russianpost.ru/domain/common/2014/09"
            elementFormDefault="qualified"
            targetNamespace="http://www.russianpost.ru/domain/rpo-info/2014/09">
   <xsd:import schemaLocation="common.xsd"
               namespace="http://www.russianpost.ru/domain/common/2014/09"/>
   <xsd:element name="RPOInfo" type="RPOInfo"/>
   <xsd:complexType name="RPOInfo">
      <xsd:sequence>
         <xsd:element name="BaseInfo" type="BaseInfo" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Базовая информация</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Header" type="Header" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Заголовок</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BaseInfo">
      <xsd:sequence>
         <xsd:element name="Barcode"
                      type="common:string-len-14"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>ШИ РПО</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OwnNumber"
                      type="common:string-len-20"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Подавательский номер РПО</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DateTime"
                      type="common:dateTime"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Дата и время приема/импорта РПО (в формате ISO 8601 CCYY-MM-DDThh:mm:ss)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CreateTimeZone"
                      type="common:timeZone"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Часовой пояс даты и времени создания РПО (в формате ±hh:mm по отношению к UTC)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="IndexFrom"
                      type="common:string-len-6"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Индекс места создания РПО</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SysID"
                      type="common:SysIDType"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы (Уникальный идентификатор системы, участвующей в информационном обмене, см. ПРИЛОЖЕНИЕ 13. Идентификатор информационной системы)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="VersionNumber"
                      type="common:VersionNumberType"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Версия TT, по которой работает система, участвующая в информационном обмене</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Header">
      <xsd:sequence>
         <xsd:element name="MailType"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код вида отправления (согласно РТМ 0002-10-13)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MailTypeLocal"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код вида отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MailTypeNameLocal"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование вида отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MailCtg"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код категории почтового отправления (согласно РТМ 0002-10-13)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MailCtgLocal"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код категории почтового отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MailCtgNameLocal"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование категории почтового отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SendCtg"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код категории отправителя (согласно РТМ 0002- 10-13)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SendCtgLocId"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код категории отправителя (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SendCtgLocName"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование категории отправителя (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TransType"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код способа пересылки (согласно РТМ 0002- 10-13)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TransTypeLocId"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код способа пересылки (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TransTypeLocName"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование способа пересылки (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PostMark"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код отметки внутренних и международных отправлений (согласно РТМ 0002- 10-13)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PostMarkLocId"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код отметки внутренних и международных отправлений (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PostMarkLocName"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование отметки внутренних и международных отправлений (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MailRank"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код разряда почтового отправления (согласно РТМ 0002- 10-13)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MailRankLocId"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код разряда почтового отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MailRankLocName"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование разряда почтового отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TransCtg"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код характера пересылки отправления (согласно РТМ 0002- 10-13)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TransCtgLocId"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код характера пересылки отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TransCtgLocName"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование характера пересылки отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PayType"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код способов и форм оплаты услуг почтовой связи (согласно РТМ 0002- 10-13)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PayTypeLocId"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код способов и форм оплаты услуг почтовой связи (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PayTypeLocName"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование способов и форм оплаты услуг почтовой связи (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DirectCtg"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код классификации отправления (согласно РТМ 0002- 10-13)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DirectCtgLocId"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код классификации отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DirectCtgLocName"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование классификации отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="IndexRec"
                      type="common:string-len-6"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Почтовый индекс ОПС приема</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="IndexTo"
                      type="common:string-len-6"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Почтовый индекс ОПС адресата</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CountryFrom"
                      type="common:string-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код страны места отправления международного отправления (цифровой трехзначный код страны согласно РТМ 0002- 10-13)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CountryFromLocId"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код страны места отправления международного отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CountryFromLocName"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование страны места отправления международного отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CountryTo"
                      type="common:string-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код страны места назначения международного отправления (цифровой трехзначный код страны согласно РТМ 0002- 10-13)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CountryToLocId"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код страны места назначения международного отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CountryToLocName"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование страны места назначения международного отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="InterType"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код типа международного отправления (см. ПРИЛОЖЕНИЕ 6 Коды типов международных отправлений)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="InterTypeLocId"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код типа международного отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="InterTypeLocName"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование типа международного отправления (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Mass"
                      type="common:integer-len-6"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Вес отправления в граммах (подавательский)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Value"
                      type="common:integer-len-14"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Сумма ОЦ (в копейках, СПЗ)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Payment"
                      type="common:integer-len-14"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Сумма НП (в копейках, валюте страны назначения, валюте принятой в Соглашениях между странами)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Rcpn"
                      type="common:string-len-200"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование или ФИО получателя</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RecvAddress"
                      type="common:string-len-20"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код адреса получателя (ЦХДПА)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RecvAddressStr"
                      type="common:string-len-500"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Строка адреса получателя (заполняется в случае отсутствия кода адреса отправителя)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RecvPhone"
                      type="common:string-len-50"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Телефон получателя</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Sndr"
                      type="common:string-len-200"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование или ФИО отправителя</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SndrTIN"
                      type="common:string-len-10"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>ИНН отправителя (юридического лица)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SendAddress"
                      type="common:string-len-20"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код адреса отправителя (ЦХДПА)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SendAddressStr"
                      type="common:string-len-500"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Строка адреса отправителя (заполняется в случае отсутствия кода адреса отправителя)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MassRate"
                      type="common:integer-len-14"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Общая сумма платы за пересылку наземным и воздушным транспортом в копейках. Для входящих и транзитных международных почтовых отправлений элемент принимает значение 0.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="InsrRate"
                      type="common:integer-len-14"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Сумма платы за объявленную ценность в копейках. Для входящих и транзитных международных почтовых отправлений элемент принимает значение 0.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AirRate"
                      type="common:integer-len-14"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Выделенная сумма платы за пересылку воздушным транспортом из общей суммы платы за пересылку в копейках ( для входящих и транзитных международных почтовых отправлений элемент принимает значение 0).</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AdValTax"
                      type="common:integer-len-14"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Сумма налога на добавленную стоимость в копейках</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Rate"
                      type="common:integer-len-14"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Дополнительный тарифный сбор в копейках</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CustomDuty"
                      type="common:integer-len-14"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Сумма таможенных платежей в копейках</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Height"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Высота отправления в сантиметрах</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Length"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Длина отправления в сантиметрах</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Width"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Ширина отправления в сантиметрах</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="VolumeWeight"
                      type="common:integer-len-6"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Объемный вес отправления в граммах</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RPODefMark"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наличие отметок о браке (см. ПРИЛОЖЕНИЕ 7 Коды типов отметок о браке)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RPODefMarkLocId"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код наличия отметок о браке (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RPODefMarkLocName"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наличие отметок о браке (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RPODamMark"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наличие отметок о повреждении, утрате (см. ПРИЛОЖЕНИЕ 8 Коды типов отметок о повреждении, утрате)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RPODamMarkLocId"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код наличия отметок о повреждении, утрате (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RPODamMarkLocName"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наличие отметок о повреждении, утрате (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RPOReclMark"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наличие отметок о рекламациях (см. ПРИЛОЖЕНИЕ 9 Коды типов отметок о рекламациях)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RPOReclMarkLocId"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код наличия отметок о рекламациях (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RPOReclMarkLocName"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наличие отметок о рекламациях (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RPOInvStat"
                      type="common:integer-len-4"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Статус расследования (см. ПРИЛОЖЕНИЕ 10 Коды типов отметок о статусе расследования)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RPOInvStatLocID"
                      type="common:integer-len-4"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Код статуса расследования (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RPOInvStatLocName"
                      type="common:string-len-200"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Наименование статуса расследования (Локальный справочник)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
